[Tt]humbs.db
*.DS_Store
*.[Oo]bj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
src/commonunpack/unpacked/
src/gsunpack/classes/
src/gsparser/dump/